[submodule "yolov8_tracking"]
	path = yolov8_tracking
	url = https://github.com/mikel-brostrom/yolov8_tracking.git
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git
